name: Execução Testes FIPE

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch: # Permite rodar manualmente clicando num botão

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test-and-report:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar Código (Checkout)
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Rodar Testes
        run: mvn clean test
        continue-on-error: true # Continua mesmo se o teste falhar (para gerar relatório)

      # --- PARTE DO RELATÓRIO ALLURE ---
      - name: Histórico do Allure
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Gerar Relatório Allure
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: target/allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Publicar Relatório no GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history

      # --- PARTE DO EXCEL ---
      - name: Salvar Excel Preenchido (Download)
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: planilha-fipe-atualizada
          path: src/fipe.xlsx  # Confirme se o caminho é esse mesmo!
          retention-days: 5